* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #7e572bcc;
    text-align: center;
    padding: 20px;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFF0D1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.image-item {
    background-color: #7e572bcc;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.image-item img {
    width: 300px;
    height: auto;
    border-bottom: 2px solid #ddd;
}

.image-item p {
    margin-top: 10px;
    font-size: 1.1em;
}
